body {
    margin: 0;
    padding: 0;
}

#sidebar-menu {
    background-color: #FCFAF8;
    min-height: 100vh;
    width: 280px;

}

#sidebar-menu .navbar-brand {
    color: #050505;
}

#sidebar-menu .nav-link {
    color: #000000;
}

#sidebar-menu .nav-link:hover {
    color: #ffffff;
    background-color: #b1144e9a;
}

#sidebar-menu .nav-link.active {
    background-color: #5E0930;
    color: #ffffff;
}

#pills-tab .nav-link.active {
    background-color: #58082e;
    color: #ffffff;
}

#pills-tab .nav-link {
    color: #000000;
    background-color: transparent;
}

#pills-tab .nav-link:hover:not(.active) {
    background-color: rgba(88, 8, 46, 0.1);
}

#v-pills-tabContent{
    background-color: #FFFFFF;
}

#anadirTareaCard{
    background-color: #ffffff00;
}

#anadirTareaCard .btn-primary{
    background-color: #000000;
}